include ../ui-kit/ui-kit
//- Карточка публикации

mixin p-card(card, isSlider = false)
    include ../tags/tags
    .p-card(class=isSlider ? 'swiper-slide' : '')
        a(href='#').__pic
            .__img(style=`background-image: url(${card.img})`)
        .__date=card.date
        a(href='#').__title=card.title
        .__tags
            +tags(card.tags)


mixin p-card-list(pCardList, isSlider = false)
    .p-card-list(class=isSlider ? 'swiper-wrapper' : '')
        for pCard in pCardList
            +p-card(pCard, isSlider)

mixin p-card-section(title=false)
    include p-card.data.pug
    +section(title)
        +p-card-list(getPCardList(9))
        .section__buttons
            +button-show-more

mixin p-card-slider(title=false, countList = 9)
    include p-card.data.pug
    +section-slider(title, 'js-p-card')
        .p-card-slider.swiper-container.js-p-card
            +p-card-list(getPCardList(countList), true)
        .section__buttons
            +button-transparent('Все публикации')(class='button--nav')



