mixin button(text, suffix, type)
    button.button(type=type class=suffix ? `button--${suffix}` : '')&attributes(attributes)=text

mixin button-link(text, suffix, href='javascript:void(0)')
    a.button(href=href class=suffix ? `button--${suffix}` : '')&attributes(attributes)=text ? text :''
        block

mixin link(text, href, suffix=false)
    a.link(href=href class=suffix ? `link-${suffix}` : '')=text

mixin link-icon(text, iconType, href='javascript:void(0)')
    include ../icon/icon
    a.link-icon(href=href)&attributes(attributes)
        +icon(iconType)
        span=text

mixin link-req-call(text, href='javascript:void(0)')
    a.link-req-call(href=href)&attributes(attributes)
        span=text

mixin link-video(img, href)
    include ../icon/icon
    .link-video.js-video-gallery(style=`background-image: url(${img})`)
        a.link-video__icon.js-video-gallery-item(href=href)
            +icon('play', ['icon-play--big'])

mixin field(name, placeholder, hintText = null, modifLabel=null)
    label.field.js-field(class=modifLabel)
        span.field__placeholder
            span.field__placeholder-text=placeholder
            if hintText
                +hint(hintText)
        input.field__input.js-field-input(name=name type=type)&attributes(attributes)

mixin field-area(name, placeholder, hintText = null, modifLabel=null)
    label.field.js-field(class=modifLabel)
        span.field__placeholder
            span.field__placeholder-text=placeholder
            if hintText
                +hint(hintText)
        textarea.field__input.js-field-input(name=name type=type)&attributes(attributes)

mixin field-file(name, placeholder, isMultiple = true)
    label.field-file.js-field
        span.field-file__placeholder=placeholder
        input.field-file__input(name=`${name}${isMultiple ? '[]' : ''}` type='file' multiple!=isMultiple)&attributes(attributes)

mixin button-show-more
    +button-transparent('Показать еще')(class='button--show-more')

mixin button-transparent(title)
    +button-link(title,'transparent')&attributes(attributes)
        block

mixin button-white(title)
    +button-transparent(title)&attributes(attributes).button--white
        block

mixin button-arrow-down
    +button-transparent(false)(class='button--square')
        +icon('arrow-down')

mixin button-arrow-top
    +button-white(false)(class='button--square')&attributes(attributes)
        +icon('arrow-top')
